@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500;600;700&display=swap');

.main-heading {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #3472a1;
}

.section-heading {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 36px;
    font-weight: 700;
    /* text-transform: uppercase; */
    text-align: center;
    color: #3472a1;
}

.section-sub-heading {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3472a1;
}

.section-content-text {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: black;
    max-width: max-content;
    padding-bottom: 20px;
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
    padding-left: 10;
    padding-right: 10;

}

.section-button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: larger !important;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.dark-section-text {
    color: white !important;
}

.landing-bottom-gradient {
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(0, 8, 16);
    background: linear-gradient(0deg, rgba(0, 8, 16, 1) 20%, rgba(255, 255, 255, 0) 100%);
    top: 800px;
    z-index: 0;
}

.section-divider {
    width: 100%;
    /* height: 100px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.section-divider img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.schedule-tab {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
    padding-left: 10;
    padding-right: 10;
    background-color: #ffffff;
    border-style: groove;
    border-radius: 10px;
    border-width: thin;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(153,151,153,1);
-moz-box-shadow: 2px 2px 20px 0px rgba(153,151,153,1);
box-shadow: 2px 2px 20px 0px rgba(153,151,153,1);

}

.leaflet-container {
    height: 600px;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer-grayscale-top {
    background-image: url('../../../assets/bg-svg/bg-grayscale-top.svg');
}

.spacer-grayscale-bottom {
    background-image: url('../../../assets/bg-svg/bg-grayscale-bottom.svg');
}